<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>

	<meta charset="utf-8">
	<title>Георгий Борзилов</title>
	<meta name="description" content="">
		
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<link rel="shortcut icon" href="" type="image/x-icon">
	<link rel="icon" href="" type="image/x-icon">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>

	<meta property="og:title" content="George Borzilov">
	<meta property="og:description" content="frontend developer">
	<meta property="og:image" content="/img/thumb.jpg">
	<meta property="og:url" content="http://borzilov.github.io">
	<meta name="twitter:card" content="/img/thumb.jpg">

	
</head>

<body>
	<!--<div class="main-wrap">-->
	<div class="main-wrap"
			data-ng-app="personalPage"
			data-ng-controller="cvMainCtrl as main">

		<header class="main-wrap__header main-header"
			data-ng-if="main.header">
			<div class="main-header__title-wrap">
				<h1 class="main-header__heading" data-ng-bind="main.text.info.name">Георгий Борзилов</h1>
				<h4 class="main-header__sub-heading" data-ng-bind="main.text.info.position">фронтенд разработчик</h4>
			</div>

			<nav class="main-header__nav main-nav">
				<ul class="main-nav__items-wrap">
					<li class="main-nav__item">
						<button class="nav-button nav-button--small nav-button--main" data-title="{{main.text.tooltipes.about}}"
										data-ng-click="main.methods.loadTemplate('about')">Главная</button>
					</li>

					<li class="main-nav__item">
						<button class="nav-button nav-button--small nav-button--skills" data-title='{{main.text.tooltipes.skills}}'
										data-ng-click="main.methods.loadTemplate('skills')"
										>Что я умею</button>
					</li>

					<li class="main-nav__item">
						<button class="nav-button nav-button--small nav-button--works" data-title="{{main.text.tooltipes.works}}"
										data-ng-click="main.methods.loadTemplate('works')">Что я сделал</button>
					</li>
				</ul>
			</nav>
		</header>


		<main class="main-wrap__column-wrapper">

			<article class="main-wrap__col main-wrap__col--right"
				data-ng-include="main.views">
				<section class="about">

					<div class="about__info">

						<p class="about__row">
							<span class="about__title">Я родился</span>
							<span class="about__description">09 июня 1985</span>
						</p>

						<p class="about__row">
							<span class="about__title">Мои контакты</span>
							<span class="about__description">+30809990222268</span>
						</p>

						<p class="about__row">
							<span class="about__description">borzilov.george@gmail.com</span>
						</p>

						<p class="about__row">
							<span class="about__title">Проживаю</span>
							<span class="about__description">г. Киев</span>
						</p>

						<p class="about__row">
							<span class="about__title">Сейчас работаю</span>
							<span class="about__description"><a href="//slavpeople.com" target="_blank" rel="noopener">slavpeople.com</a></span>
						</p>

					</div>


					<p class="about__text">Привет и добро пожаловать на мою страницу!</p>

					<p class="about__text">Несмотря на сравнительно небольшой опыт в фронтенд разработке (около 1,5 лет), я уже успел понять, что это мое :) , а на этом мини-сайте можно наблюдать мой путь развития как специалиста.</p>

					<p class="about__text">Как любой ответственный разработчик я стараюсь быть в курсе последних событий в выбранном направлении и, соответственно, развиваться самому.</p>
					
					<p class="about__text">Если у Вас возникли какие-то вопросы звоните/пишите – с удовольствием с Вами пообщаюсь.</p>

					<p class="about__text">В любом случае спасибо, что заглянули!</p>

					<a class="about__cv-link" href="/cv/borzilov_cv.pdf" target="_blank">резюме в PDF</a>
				</section>
			</article>


			<aside class="main-wrap__col main-wrap__col--left"
						data-ng-class="{'to-header' : main.header}">
				<figure class="img-wrap">
					<img src="img/boy_2x.png" width="370"	height="800">
				</figure>

			</aside>
		</main>


		<footer class="main-wrap__footer main-footer">
			<ul class="main-footer__inner">
				<li class="main-footer__contact">
					<address class="main-footer__icon main-footer__icon--phone">+380990222268</address>
				</li>

				<li class="main-footer__contact">
					<address class="main-footer__icon main-footer__icon--mail">borzilov.george@gmail.com</address>
				</li>

				<li class="main-footer__contact main-footer__contact--author">&copy; <span data-ng-bind="main.text.info.name">Георгий Борзилов</span></li>

			</ul>
		</footer>

		<figure class="main-wrap__loader-wrap"
				data-ng-if="main.loader">
			<figcaption class="main-wrap__loader">Loading...</figcaption>
		</figure>
	
	</div>
	

	<!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->

	<!-- Load CSS -->
	<script>
			//Load Libs CSS
			/*var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href="libs/normalize-css/normalize.css";document.getElementsByTagName("head")[0].appendChild(ms);*/
			
			//User Styles + Media Queries
			var ms=document.createElement("link");ms.rel="stylesheet";
			ms.href="css/main.min.css";document.getElementsByTagName("head")[0].appendChild(ms);
	</script>
		
	<!-- Load Scripts -->
	<script>var scr = {"scripts":[
			{"src" : "libs/angular/angular.min.js", "async" : false},
			{"src" : "libs/angular/angular-animate.min.js", "async" : false},
			{"src" : "js/script.js", "async" : false},
			]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
	</script>
	
</body>
</html>