<section class="about">

	<div class="about__info">

		<p class="about__row">
			<span class="about__title">Я родился</span>
			<span class="about__description">09 июня 1985</span>
		</p>

		<p class="about__row">
			<span class="about__title">Мои контакты</span>
			<span class="about__description">+30809990222268</span>
		</p>

		<p class="about__row">
			<span class="about__description">borzilov.george@gmail.com</span>
		</p>

		<p class="about__row">
			<span class="about__title">Проживаю</span>
			<span class="about__description">г. Киев</span>
		</p>

		<p class="about__row">
			<span class="about__title">Сейчас работаю</span>
			<span class="about__description"><a href="//slavpeople.com" target="_blank" rel="noopener">slavpeople.com</a></span>
		</p>

	</div>


	<p class="about__text"
		data-ng-repeat="text in main.text.about.text" data-ng-bind="text"></p>

	<a class="about__cv-link" href="/cv/borzilov_cv.pdf" target="_blank">резюме в PDF</a>
</section>