<section class="about">

	<div class="about__info">

		<p class="about__row">
			<span class="about__title"
				data-ng-bind="main.text.about.born"></span>
			<span class="about__description"
						data-ng-bind="main.text.about.born_date"></span>
		</p>

		<p class="about__row">
			<span class="about__title"
						data-ng-bind="main.text.about.contacts"></span>
			<span class="about__description"
						data-ng-bind="main.text.about.contacts_phone"></span>
		</p>

		<p class="about__row">
			<span class="about__description"
						data-ng-bind="main.text.about.contacts_mail"></span>
		</p>

		<p class="about__row">
			<span class="about__title"
						data-ng-bind="main.text.about.residence"></span>
			<span class="about__description"
						data-ng-bind="main.text.about.residence_place"></span>
		</p>

		<p class="about__row">
			<span class="about__title"
						data-ng-bind="main.text.about.employer"></span>
			<span class="about__description"><a href="//slavpeople.com" target="_blank" rel="noopener">slavpeople.com</a></span>
		</p>

	</div>


	<p class="about__text"
		data-ng-repeat="text in main.text.about.text" data-ng-bind="text"></p>

	<a class="about__cv-link" href="{{main.cvLink}}" target="_blank"
		 data-ng-bind="main.text.about.cv"></a>
</section>