@font-face {
  font-family: "Ubuntu Regular";
  src: url("../fonts/ubuntu_regular/ubuntu.woff") format("woff"), url("../fonts/ubuntu_regular/ubuntu.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("../fonts/ubuntu_medium/ubuntumedium.woff") format("woff"), url("../fonts/ubuntu_medium/ubuntumedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu Light";
  src: url("../fonts/ubuntu_light/ubuntulight.woff") format("woff"), url("../fonts/ubuntu_light/ubuntulight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url("../fonts/ubuntu_bold/ubuntubold.woff") format("woff"), url("../fonts/ubuntu_bold/ubuntubold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu Italic";
  src: url("../fonts/ubuntu_italic/ubuntuitalic.woff") format("woff"), url("../fonts/ubuntu_italic/ubuntuitalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Ubuntu Light Italic";
  src: url("../fonts/ubuntu_light_italic/ubuntulightitalic.woff") format("woff"), url("../fonts/ubuntu_light_italic/ubuntulightitalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/*base styles*/
html,
body {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  min-width: 320px;
  font-family: "Ubuntu Regular", "Verdana", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: normal;
  overflow-x: hidden;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
     -moz-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

ul {
  list-style-type: none;
}

img,
svg {
  width: 100%;
  height: auto;
}

button,
figure {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

button:focus {
  outline: none;
}

input,
input::-webkit-input-placeholder {
  font-size: 16px;
  color: #34180e;
}

input,
input::-moz-placeholder {
  font-size: 16px;
  color: #34180e;
}

input,
input:-ms-input-placeholder {
  font-size: 16px;
  color: #34180e;
}

input,
input::placeholder {
  font-size: 16px;
  color: #34180e;
}

input::-webkit-input-placeholder {
  font-family: "Ubuntu Italic", "Verdana", sans-serif;
}

input::-moz-placeholder {
  font-family: "Ubuntu Italic", "Verdana", sans-serif;
}

input:-ms-input-placeholder {
  font-family: "Ubuntu Italic", "Verdana", sans-serif;
}

input::placeholder {
  font-family: "Ubuntu Italic", "Verdana", sans-serif;
}

input:not([type=submit]) {
  text-indent: 17px;
  line-height: 52px;
  border-color: #34180e;
}

a,
a:visited {
  color: #fff;
  text-decoration: none;
}

sup {
  font-size: 0.65em;
}

.main {
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #34180e;
}

.main section {
  padding-top: 80px;
}

.accent-text {
  display: block;
  font-family: "Ubuntu Light Italic", "Verdana", sans-serif;
  color: #507730;
}

.main-navigation__buttons-wrap:after {
  content: '';
  display: table;
  clear: both;
}

.more-button {
  display: inline-block;
  padding: 0 34px;
  font-size: 14px;
  line-height: 30px;
  background-color: #507730;
  color: #fff;
}

.news__news, .sign__form {
  letter-spacing: -0.3em;
}

.main section .heading-wrap .dots-container, .quality .column .dots-container,
.logistic .column .dots-container, .news__description .dots-container, .main section .heading-wrap .dot, .quality .column .dot,
.logistic .column .dot, .news__description .dot {
  display: inline-block;
  vertical-align: middle;
  line-height: 0;
}

.main section .heading-wrap .dots-container, .quality .column .dots-container,
.logistic .column .dots-container, .news__description .dots-container {
  padding: 0 7px;
  background-color: #fff;
}

.main section .heading-wrap .dot, .quality .column .dot,
.logistic .column .dot, .news__description .dot {
  width: 5px;
  height: 5px;
  margin: 2.5px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background-color: #507730;
}

.main section .heading-wrap {
  position: relative;
  padding-bottom: 25px;
}

.main section .heading-wrap .divider {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
  line-height: 0;
}

.main section .heading-wrap hr {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  z-index: -1;
  margin-top: -1px;
  border-color: #507730;
}

.main section .heading-wrap {
  display: inline-block;
}

.main section .heading {
  margin: 0;
  font-family: "Ubuntu Regular", "Verdana", sans-serif;
  font-size: 35px;
  line-height: 36px;
  color: #34180e;
}

.main section .subtitle {
  font-family: "Ubuntu Italic", "Verdana", sans-serif;
  font-size: 16px;
  color: #828282;
}

/*header styles*/
.main-header {
  position: relative;
  min-height: 100vh;
  background: url("../img/header-background.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
  color: #fff;
}

.main-header > *:not(:first-child) {
  position: absolute;
}

.main-header__top-container {
  position: relative;
  min-height: 102px;
  padding-top: 30px;
  border-bottom: 2px solid #fff;
}

.main-header__logo-wrap {
  width: 20%;
  min-width: 280px;
  margin: 0 auto;
}

.no-svg .main-header__logo-wrap {
  background: url("../img/icons/icon-logo.png") 0 50% no-repeat;
  background-size: 100% auto;
}

.main-header__language-wrap {
  position: absolute;
  color: black;
  font-family: "Ubuntu Light", "Verdana", sans-serif;
}

@media screen and (min-width: 0px) and (max-width: 899px) {
  .main-header__language-wrap {
    right: 20px;
    bottom: 10px;
  }
}

@media screen and (min-width: 900px) {
  .main-header__language-wrap {
    top: 50%;
    right: 18.5%;
    -webkit-transform: translate(50%, -50%);
        -ms-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
  }
}

.main-header__language-wrap span {
  display: inline-block;
  vertical-align: middle;
  padding: 0 8px;
  font-size: 16px;
  cursor: pointer;
}

.main-header__language-wrap span:last-child {
  border-left: 1px solid black;
}

.main-header__language-wrap .active {
  margin: 0 8px;
  font-family: "Ubuntu Bold", "Verdana", sans-serif;
  background-color: #fff;
}

.main-header__title-wrap {
  z-index: 5;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .main-header__title-wrap {
    left: 5%;
    width: 90%;
  }
}

@media screen and (min-width: 768px) {
  .main-header__title-wrap {
    left: 14%;
    width: 40%;
  }
}

@media screen and (min-height: 0px) and (max-height: 699px) {
  .main-header__title-wrap {
    bottom: 90px;
  }
}

@media screen and (min-height: 700px) {
  .main-header__title-wrap {
    bottom: 200px;
  }
}

.main-header__title {
  margin: 0;
  font-family: "Ubuntu Medium", "Verdana", sans-serif;
  line-height: 1.4;
}

@media screen and (min-height: 0px) and (max-height: 399px) {
  .main-header__title {
    font-size: 27px;
  }
}

@media screen and (min-height: 400px) {
  .main-header__title {
    font-size: 35px;
  }
}

.main-header__scroll-wrap {
  left: 50%;
  z-index: 1;
  margin-left: -33px;
  font-family: "Ubuntu Medium", "Verdana", sans-serif;
  font-size: 14px;
  line-height: 36px;
}

@media screen and (min-height: 0px) and (max-height: 699px) {
  .main-header__scroll-wrap {
    bottom: 15px;
  }
}

@media screen and (min-height: 700px) {
  .main-header__scroll-wrap {
    bottom: 30px;
  }
}

.main-header__scroll-wrap figure {
  width: 30px;
  height: 30px;
  margin: 0 auto;
}

.main-navigation {
  top: 102px;
  right: 0;
  z-index: 10;
  width: 18.5%;
  font-family: "Ubuntu Light", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 50px;
  color: #fff;
  background-color: rgba(52, 21, 0, 0.7);
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  .main-navigation {
    -webkit-transition: none;
    transition: none;
  }
}

.main-navigation:hover {
  width: 20.7%;
  background-color: rgba(52, 21, 0, 0.35);
}

.main-navigation__navigation-container {
  display: none;
}

.main-navigation__navigation-item {
  padding-left: 30px;
}

.main-navigation__navigation-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.main-navigation__buttons-wrap {
  padding: 15px 30px 15px 20px;
}

.main-navigation__menu-button {
  line-height: 20px;
}

.main-navigation__menu-button.menu {
  float: left;
  width: 30px;
  height: 20px;
}

.main-navigation__menu-button.close {
  display: none;
  float: right;
  width: 20px;
  height: 20px;
}

.main-navigation.is-opened {
  bottom: 0;
}

@media screen and (min-width: 0) and (max-width: 767px) {
  .main-navigation.is-opened {
    position: relative;
    top: 0;
    width: 100%;
    text-align: center;
  }
  .main-navigation.is-opened .main-navigation__navigation-item:not(:first-child) {
    -webkit-box-shadow: 0 1px #fff inset;
            box-shadow: 0 1px #fff inset;
  }
}

@media screen and (min-width: 768px) {
  .main-navigation.is-opened {
    width: 31%;
  }
}

.main-navigation.is-opened:hover {
  background-color: rgba(52, 21, 0, 0.7);
}

.main-navigation.is-opened .main-navigation__navigation-container,
.main-navigation.is-opened .close {
  display: block;
}

.main-navigation.is-opened .menu {
  display: none;
}

/*end header styles*/
/* section company */
@media screen and (min-width: 0px) and (max-width: 799px) {
  .company {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .company {
    width: 63%;
    margin-left: auto;
    margin-right: auto;
  }
}

.company__header {
  margin-bottom: 45px;
}

.company__name {
  margin-bottom: 25px;
  font-family: "Ubuntu Bold", "Verdana", sans-serif;
  line-height: 20px;
  text-transform: uppercase;
}

.company__description {
  margin-bottom: 30px;
}

@media screen and (min-width: 800px) {
  .company__description {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

.company__more-info {
  margin-top: 40px;
  text-align: right;
}

/* end section company */
/* section production */
.production__text-wrap {
  margin-top: 25px;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .production__text-wrap {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .production__text-wrap {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
}

.production__text-wrap:first-of-type {
  margin-bottom: 40px;
}

.production__map-wrap {
  background: url("../img/map-background.jpg") 0 center no-repeat;
  background-size: 100% auto;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .production__map {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .production__map {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
  }
}

/* end section production */
/* sections quality & logistic*/
/*common styles*/
.quality .row,
.logistic .row {
  margin-top: 40px;
}

@media screen and (min-width: 900px) {
  .quality .row,
  .logistic .row {
    letter-spacing: -0.3em;
    background-color: #f6f6f6;
  }
}

.quality .column,
.logistic .column {
  position: relative;
}

.quality .column .dots-container,
.logistic .column .dots-container {
  background-color: transparent;
}

@media screen and (min-width: 0px) and (max-width: 899px) {
  .quality .column,
  .logistic .column {
    margin-top: 25px;
  }
}

@media screen and (min-width: 900px) {
  .quality .column,
  .logistic .column {
    display: inline-block;
    width: 50%;
    vertical-align: middle;
    letter-spacing: normal;
  }
}

@media screen and (min-width: 0px) and (max-width: 899px) {
  .quality .description,
  .logistic .description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .quality .description,
  .logistic .description {
    width: 71.5%;
  }
}

.quality .description-text,
.logistic .description-text {
  margin: 40px 0 30px;
}

.quality .image-overlay,
.quality .logo-wrap,
.logistic .image-overlay,
.logistic .logo-wrap {
  position: absolute;
}

/*end common styles*/
/*quality styles*/
.quality {
  /*text column*/
  /*image column*/
}

@media screen and (min-width: 900px) {
  .quality__description-wrap {
    text-align: left;
  }
  .quality__description {
    margin-left: 8%;
  }
}

.quality__image-wrap {
  line-height: 0;
}

.quality .image-overlay {
  top: 0;
  bottom: 0;
  left: 0;
  width: 40%;
  background-color: rgba(52, 21, 0, 0.35);
}

.quality .logo-wrap {
  top: 50%;
  left: 50%;
  width: 64%;
  -webkit-transform: translate(-39.5%, -50%);
      -ms-transform: translate(-39.5%, -50%);
          transform: translate(-39.5%, -50%);
}

/*end quality styles*/
/*logistic styles*/
.logistic__image-wrap {
  line-height: 0;
}

@media screen and (min-width: 900px) {
  .logistic__image-wrap {
    left: 50%;
  }
}

@media screen and (min-width: 900px) {
  .logistic__description-wrap {
    left: -50%;
    text-align: right;
  }
  .logistic__description {
    min-width: 385px;
    margin-left: auto;
    margin-right: 8%;
  }
}

.logistic .logo-wrap {
  top: 50%;
  left: 50%;
  width: 42%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.64;
}

/* end sections quality & logistics*/
/*section history*/
.history__content-wrap {
  position: relative;
  min-height: 363px;
  margin-top: 40px;
  background: url("../img/history-background.jpg") 0 50% no-repeat;
  background-size: cover;
}

@media screen and (min-width: 0) and (max-width: 549px) {
  .history__content-wrap {
    font-size: 15px;
    line-height: 1.15;
  }
}

.history__text-wrap {
  position: absolute;
  left: 0;
  right: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.history__text-wrap:first-child {
  bottom: 35%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(80, 119, 48, 0.65);
  color: #fff;
}

@media screen and (min-width: 0) and (max-width: 549px) {
  .history__text-wrap:last-child {
    bottom: 10px;
  }
}

@media screen and (min-width: 550px) {
  .history__text-wrap:last-child {
    bottom: 40px;
  }
}

.history__text {
  max-width: 860px;
  margin-left: auto;
  margin-right: auto;
}

/*end section history*/
/*section news*/
.news__content {
  padding-top: 70px;
  padding-bottom: 15px;
}

.news__news {
  margin-bottom: 65px;
}

@media screen and (min-width: 0px) and (max-width: 899px) {
  .news__news {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 900px) {
  .news__news {
    width: 71.5%;
    margin-left: auto;
    margin-right: auto;
  }
}

.news__image {
  line-height: 0;
}

@media screen and (min-width: 0px) and (max-width: 499px) {
  .news__image {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    letter-spacing: normal;
  }
}

@media screen and (min-width: 500px) {
  .news__image {
    display: inline-block;
    width: 40%;
    vertical-align: middle;
    letter-spacing: normal;
    vertical-align: top;
  }
}

.news__description {
  padding-left: 30px;
  vertical-align: top;
  text-align: left;
}

@media screen and (min-width: 0px) and (max-width: 499px) {
  .news__description {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    letter-spacing: normal;
    margin-top: 20px;
    text-align: center;
  }
}

@media screen and (min-width: 500px) {
  .news__description {
    display: inline-block;
    width: 60%;
    vertical-align: middle;
    letter-spacing: normal;
  }
}

.news__date {
  width: 40%;
  margin-bottom: 30px;
  padding-bottom: 10px;
  font-family: "Ubuntu Light Italic", "Verdana", sans-serif;
  font-size: 16px;
  border-bottom: 1px solid #a0938f;
}

@media screen and (min-width: 0px) and (max-width: 499px) {
  .news__date {
    margin-left: auto;
    margin-right: auto;
  }
}

.news__heading {
  margin-bottom: 10px;
  font-family: "Ubuntu Bold", "Verdana", sans-serif;
  font-size: inherit;
  font-weight: normal;
  text-transform: uppercase;
}

.news__text {
  margin: 20px 0 5px;
  font-size: 14px;
  text-align: left;
}

.news__more-wrap {
  text-align: right;
  text-transform: capitalize;
  letter-spacing: -0.3em;
}

.news__more-wrap .more-button {
  letter-spacing: normal;
}

.news__more-wrap .more {
  padding-left: 50px;
  padding-right: 25px;
}

@media screen and (min-width: 0px) and (max-width: 599px) {
  .news__more-wrap .more {
    display: block;
    width: 148px;
    margin: 10px 0 0 auto;
  }
}

.news__more-wrap .reverse {
  position: relative;
}

@media screen and (min-width: 600px) {
  .news__more-wrap .reverse {
    left: 146px;
  }
  .news__more-wrap .reverse.more {
    left: -163px;
  }
}

.news__more-wrap .icon-wrap {
  position: absolute;
  left: 25px;
  top: 50%;
  width: 15px;
  height: 10px;
  margin-top: -5px;
  line-height: 0;
}

/*end section news*/
/* section sign */
.sign {
  padding-top: 60px;
  padding-bottom: 45px;
  background: url("../img/sign-background.jpg") 0 0 no-repeat;
  background-size: 100% 100%;
}

.sign__heading {
  font-size: 16px;
  line-height: 18px;
}

.sign__form {
  margin-top: 40px;
}

.sign input[type] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.sign input[type].error {
  border-color: #F83E25;
  color: #F83E25;
}

@media screen and (min-width: 0px) and (max-width: 675px) {
  .sign input:not([type=submit]) {
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 676px) {
  .sign input:not([type=submit]) {
    display: inline-block;
    width: 315px;
    vertical-align: middle;
    letter-spacing: normal;
  }
  .sign input:not([type=submit]):first-child {
    margin-right: 30px;
  }
}

.sign input[type=submit] {
  margin-top: 35px;
  padding: 0 56px;
  font-size: 16px;
  line-height: 34px;
  text-transform: uppercase;
  color: white;
  background-color: #34180e;
  border: 0;
}

.sign input[type=submit]:focus {
  outline: none;
}

.sign__form__message {
  display: block;
  text-align: center;
  letter-spacing: normal;
  color: #F83E25;
}

/*end section sign */
/*foter styles*/
.footer {
  padding: 30px 0;
  text-align: center;
  background-color: #507730;
  color: #fff;
}

.footer__links-wrap, .footer__phone-wrap {
  margin-bottom: 25px;
}

@media screen and (min-width: 800px) {
  .footer__links-wrap, .footer__phone-wrap {
    letter-spacing: -0.3em;
  }
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .footer__links-item {
    line-height: 50px;
    -webkit-box-shadow: 0 -1px 0 0 #81ba53 inset, 0 -2px 0 0 #1f2e13 inset;
            box-shadow: 0 -1px 0 0 #81ba53 inset, 0 -2px 0 0 #1f2e13 inset;
  }
}

@media screen and (min-width: 800px) {
  .footer__links-item {
    position: relative;
    display: inline-block;
    width: auto;
    vertical-align: middle;
    letter-spacing: normal;
  }
  .footer__links-item:not(:first-child) {
    padding-left: 1%;
  }
  .footer__links-item:not(:last-child) {
    padding-right: 1%;
  }
  .footer__links-item:not(:last-child):after {
    content: '';
    position: absolute;
    top: 50%;
    left: 100%;
    width: 5px;
    height: 5px;
    margin-top: -2.5px;
    margin-left: -2.5px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #fff;
  }
}

.footer a {
  color: inherit;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .footer .phone {
    display: block;
    line-height: 50px;
  }
}

@media screen and (min-width: 800px) {
  .footer .phone {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    letter-spacing: normal;
  }
  .footer .phone:first-child {
    margin-right: 30px;
  }
}

@media screen and (min-width: 0px) and (max-width: 799px) {
  .footer__logo-wrap {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 800px) {
  .footer__logo-wrap {
    width: 21.5%;
    margin-left: auto;
    margin-right: auto;
  }
}

/*end footer styles*/
